#boxContainer{
    margin-top: 15px;
}

@keyframes enterAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert-enter {
  animation: enterAnimation 0.5s ease-out;
}
