.slider-container {
  position: relative;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  position: relative;
}

.slick-slide img {
  height: 50vh;
  width: -webkit-fill-available;
  object-fit: fill;
  pointer-events: none;
}

.slick-prev,
.slick-next {
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  z-index: 2;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: white;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button:before {
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: white;
  opacity: 1;
}
